.DescriptionItem-container {
  width: 300px;
  &__img {
    margin: 30px 0;
  }
  &__title {
    margin: 15px 10px;
    font-size: 18px;
    font-weight: bold;
  }
  &__details {
    line-height: 30px;
    font-size: 18px;
    color: gray;
  }
}
