.product-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & img {
    padding-bottom: 15px;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
  }
  &__price {
    font-size: 18px;
    font-weight: bold;
    color: #fd7e75;
  }
}
